table {
    border-collapse:collapse;
}

td {
    border: 1px solid black;
}

p {
    margin: 0;
    padding-bottom: 0.05em;
}

li {
    padding: 0.8em;
}

.even-tr {
    background-color:green;
}

.package-a {
    font-size:1.8em;
    // color:red
}

.package-td {
    vertical-align:top;
}

